body{
	background-color: #64eb34;
}

div{
	text-align: center;
}

label{
	font-family: 'Roboto Slab', serif;
	font-weight: 600;
	font-size: 120%;
	color: black;
	text-shadow: 1px 1px rgba(0,0,0,0.2);
}

input{
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	font-size: 120%;
	border-radius: 7%;
	box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}


textarea{
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	font-size: 120%;
	border-radius: 1.5%;
	box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

#Submit{
padding: 10px 20px 11px !important;
font-size: 18px !important;
background-color: #80ff00;
font-weight: bold;
text-shadow: 1px 1px #80ff00;
color: #000000;
border-radius: 100px;
-moz-border-radius: 100px;
-webkit-border-radius: 100px;
border: 1px solid #80ff00;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

h1, h4{
	color: white;
	font-family: 'Roboto Slab', serif;
}

h1{
	text-align: center;
	font-size: 250%;
	text-shadow: 2px 2px rgba(0,0,0,0.2);
}

h4{
	text-align: center;
	font-size: 150%;
	text-shadow: 2px 2px rgba(0,0,0,0.2);

}

#imageFile{
padding: 7px 15px 8px !important;
font-size: 18px !important;
background-color: #80ff00;
font-weight: bold;
text-shadow: 1px 1px #80ff00;
color: #000000;
border-radius: 100px;
-moz-border-radius: 100px;
-webkit-border-radius: 100px;
border: 1px solid #80ff00;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
}

